# Jane Chinwuko
# Batch number: DS2307

# Phase 1

## Webscraping for Population Census in India as at 2011 from Wikipedia

In [1]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [2]:
# Initialize the WebDriver
driver = webdriver.Chrome()

In [3]:
# Open the wikipedia website
driver.get("https://en.wikipedia.org/wiki/2011_census_of_India")

In [4]:
# Locate the table with population data
table_element = driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[6]')

In [5]:
# Extract data from the table
rows = table_element.find_elements(By.TAG_NAME, 'tr')

data = []

for row in rows:
    # Extract data from each row
    columns = row.find_elements(By.TAG_NAME, 'td')
    row_data = [col.text for col in columns]
    data.append(row_data)

In [6]:
# Create a DataFrame
columns = ['Rank','State/UT','Capital','Type','Population', 'Percentage (%)','Males','Females','Sex_Ratio','Literacy_rate', 'Rural population', 'Urban population','Area','Density','Decadal growth rate', ]
df = pd.DataFrame(data, columns=columns)

In [7]:
# Display the DataFrame
print(df)

    Rank                     State/UT                          Capital   Type  \
0   None                         None                             None   None
1      1                Uttar Pradesh                          Lucknow  State
2      2                  Maharashtra                           Mumbai  State
3      3                        Bihar                            Patna  State
4      4                  West Bengal                          Kolkata  State
5      5            Andhra Pradesh[a]                        Hyderabad  State
6      6               Madhya Pradesh                           Bhopal  State
7      7                   Tamil Nadu                          Chennai  State
8      8                    Rajasthan                           Jaipur  State
9      9                    Karnataka                        Bengaluru  State
10    10                      Gujarat                      Gandhinagar  State
11    11                       Odisha                     Bhubaneshwar  State
12    12                       Kerala               Thiruvananthapuram  State
13    13                    Jharkhand                           Ranchi  State
14    14                        Assam                           Dispur  State
15    15                       Punjab                       Chandigarh  State
16    16                 Chhattisgarh                           Raipur  State
17    17                      Haryana                       Chandigarh  State
18    18                        Delhi                            Delhi     UT
19    19            Jammu and Kashmir  Jammu(winter)\nSrinagar(summer)  State
20    20                  Uttarakhand                         Dehradun  State
21    21             Himachal Pradesh                           Shimla  State
22    22                      Tripura                         Agartala  State
23    23                    Meghalaya                         Shillong  State
24    24                      Manipur                           Imphal  State
25    25                     Nagaland                           Kohima  State
26    26                          Goa                           Panaji  State
27    27            Arunachal Pradesh                         Itanagar  State
28    28                   Puducherry                      Pondicherry     UT
29    29                      Mizoram                           Aizawl  State
30    30                   Chandigarh                       Chandigarh     UT
31    31                       Sikkim                          Gangtok  State
32    32  Andaman and Nicobar Islands                       Port Blair     UT
33    33       Dadra and Nagar Haveli                         Silvassa     UT
34    34                Daman and Diu                            Daman     UT
35    35                  Lakshadweep                        Kavaratti     UT
36  None                         None                             None   None

     Population Percentage (%)        Males     Females Sex_Ratio  \
0          None           None         None        None      None
1   199,812,341          16.50  104,480,510  95,331,831       912
2   112,374,333           9.28   58,243,056  54,131,277       929
3   104,099,452           8.60   54,278,157  49,821,295       918
4    91,276,115           7.54   46,809,027  44,467,088       950
5    84,580,777           6.99   42,442,146  42,138,631       993
6    72,626,809           6.00   37,612,306  35,014,503       931
7    72,147,030           5.96   36,137,975  36,009,055       996
8    68,548,437           5.66   35,550,997  32,997,440       928
9    61,095,297           5.05   30,966,657  30,128,640       973
10   60,439,692           4.99   31,491,260  28,948,432       919
11   41,974,218           3.47   21,212,136  20,762,082       979
12   33,406,061           2.76   16,027,412  17,378,649     1,084
13   32,988,134           2.72   16,930,315  16,057,819       948
14   31,205,576           2.58   15,939,443  15,266,133       958
15   27,743,338           2.29   14,639,465  13,103,873       895
16   25,545,198           2.11   12,832,895  12,712,303       991
17   25,351,462           2.09   13,494,734  11,856,728       879
18   16,787,941           1.39    8,887,326   7,800,615       868
19   12,541,302           1.04    6,640,662   5,900,640       889
20   10,086,292           0.83    5,137,773   4,948,519       963
21    6,864,602           0.57    3,481,873   3,382,729       972
22    3,673,917           0.30    1,874,376   1,799,541       960
23    2,966,889           0.25    1,491,832   1,475,057       989
24    2,721,756           0.21    1,290,171   1,280,219       992
25    1,978,502           0.16    1,024,649     953,853       931
26    1,458,545           0.12      739,140     719,405       973
27    1,383,727           0.11      713,912     669,815       938
28    1,247,953           0.10      612,511     635,442     1,037
29    1,097,206           0.09      555,339     541,867       976
30    1,055,450           0.09      580,663     474,787       818
31      610,577           0.05      323,070     287,507       890
32      380,581           0.03      202,871     177,710       876
33      343,709           0.03      193,760     149,949       774
34      243,247           0.02      150,301      92,946       618
35       64,473           0.01       33,123      31,350       946
36         None           None         None        None      None

   Literacy_rate Rural population Urban population     Area Density  \
0           None             None             None     None    None
1          67.68      155,111,022       44,470,455  240,928     828
2          82.34       61,545,441       50,827,531  307,713     365
3          61.80       92,075,028       11,729,609   94,163   1,102
4          76.26       62,213,676       29,134,060   88,752   1,030
5          67.02       56,361,702       28,219,075  275,045     308
6          69.32       52,537,899       20,059,666  308,245     236
7          80.09       37,189,229       34,949,729  130,058     555
8          66.11       51,540,236       17,080,776  342,239     201
9          75.36       37,552,529       23,578,175  191,791     319
10         78.03       34,670,817       25,712,811  196,024     308
11         72.87       34,951,234        6,996,124  155,707     269
12         94.00       17,445,506       15,932,171   38,863     859
13         66.41       25,036,946        7,929,292   79,714     414
14         72.19       26,780,526        4,388,756   78,438     397
15         75.84       17,316,800       10,387,436   50,362     550
16         70.28       19,603,658        5,936,538  135,191     189
17         75.55       16,531,493        8,821,588   44,212     573
18         86.21          944,727       12,905,780    1,484  11,297
19         67.16        9,134,820        3,414,106  222,236      56
20         79.63        7,025,583        3,091,169   53,483     189
21         82.80        6,167,805          688,704   55,673     123
22         87.22        2,710,051          960,981   10,486     350
23         74.43        2,368,971          595,036   22,429     132
24         79.21        1,899,624          822,132   22,327     122
25         79.55        1,406,861          573,741   16,579     119
26         88.70          551,414          906,309    3,702     394
27         65.38        1,069,165          313,446   83,743      17
28         85.85          394,341          850,123      479   2,598
29         91.33          529,037          561,997   21,081      52
30         86.05           29,004        1,025,682      114   9,252
31         81.42          455,962          151,726    7,096      86
32         86.63          244,411          135,533    8,249      46
33         76.24          183,024          159,829      491     698
34         87.10           60,331          182,580      112   2,169
35         91.85           14,121           50,308       32   2,013
36          None             None             None     None    None

   Decadal growth rate
0                 None
1                20.1%
2                16.0%
3                25.1%
4                13.9%
5               10.98%
6                20.3%
7                15.6%
8                21.4%
9                15.7%
10               19.2%
11               14.0%
12                4.9%
13               22.3%
14               16.9%
15               13.7%
16               22.6%
17               19.9%
18                 21%
19               23.7%
20               19.2%
21               12.8%
22               14.7%
23               27.8%
24               18.7%
25               −0.5%
26                8.2%
27               25.9%
28               27.7%
29               22.8%
30               17.1%
31               12.4%
32                6.7%
33               55.5%
34               53.5%
35                6.2%
36                None

In [8]:
#Save the Pandas dataframe in a csv
literacy_rate = 'India_population.csv'
df.to_csv(literacy_rate, index=False)

In [9]:
#close the driver
driver.quit()

## Webscraping for Literacy rate in India as at 2011 from census2011​ website

In [10]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [11]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [12]:
# Open the census2011 website
driver.get("https://www.census2011.co.in/literacy.php")

In [13]:
# for click on consent button
consent_button=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[1]/div[2]/div[2]/button[1]/p')
consent_button.click()

In [14]:
#create empty lists for the features to be scraped from the website
Serial_No = []
State = []
Literacy = []
Male = []
Female = []
Percent_change = []

In [15]:
#fetch the serial numbers
sn = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[1]')
for i in sn:
    Serial_No.append(i.text)
    
#fetch the States
state = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
    
#fetch the literacy rates
literacy = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[3]')
for i in literacy:
    Literacy.append(i.text)
    
#fetch the literacy rate for male
male = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[4]')
for i in male:
    Male.append(i.text)
    
#fetch the literacy rate for female
female = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[5]')
for i in female:
    Female.append(i.text)
    
#fetch the percent_change column
percent_change = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[6]')
for i in percent_change:
    Percent_change.append(i.text)

In [16]:
# Creating Dataframe and display results
df=pd.DataFrame({"Serial No ":Serial_No,"State":State,"Literacy":Literacy,
                "Male":Male,"Female":Female,
                "Percent_change":Percent_change})
df

,Serial No,State,Literacy,Male,Female,Percent_change
0,-,India,74.04,82.14,65.46,8.66
1,1,Kerala,94.00,96.11,92.07,3.14
2,2,Lakshadweep,91.85,95.56,87.95,5.19
3,3,Mizoram,91.33,93.35,89.27,2.53
4,4,Goa,88.70,92.65,84.66,6.69
5,5,Tripura,87.22,91.53,82.73,14.03
6,6,Daman and Diu,87.10,91.54,79.55,8.92
7,7,Andaman and Nicobar Islands,86.63,90.27,82.43,5.33
8,8,Delhi,86.21,90.94,80.76,4.54
9,9,Chandigarh,86.05,89.99,81.19,4.11
10,10,Puducherry,85.85,91.26,80.67,4.61
11,11,Himachal Pradesh,82.80,89.53,75.93,6.32
12,12,Maharashtra,82.34,88.38,75.87,5.46
13,13,Sikkim,81.42,86.55,75.61,12.61
14,14,Tamil Nadu,80.09,86.77,73.44,6.64
15,15,Nagaland,79.55,82.75,76.11,12.96
16,16,Uttarakhand,78.82,87.40,70.01,7.2
17,17,Gujarat,78.03,85.75,69.68,8.89
18,18,Manipur,76.94,83.58,70.26,10.33
19,19,West Bengal,76.26,81.69,70.54,7.62
20,20,Dadra and Nagar Haveli,76.24,85.17,64.32,18.61
21,21,Punjab,75.84,80.44,70.73,6.19
22,22,Haryana,75.55,84.06,65.94,7.64
23,23,Karnataka,75.36,82.47,68.08,8.72
24,24,Meghalaya,74.43,75.95,72.89,11.87
25,25,Orissa,72.87,81.59,64.01,9.79
26,26,Assam,72.19,77.85,66.27,8.94
27,27,Chhattisgarh,70.28,80.27,60.24,5.62
28,28,Madhya Pradesh,69.32,78.73,59.24,5.58
29,29,Uttar Pradesh,67.68,77.28,57.18,11.41
30,30,Jammu and Kashmir,67.16,76.75,56.43,11.64
31,31,Andhra Pradesh,67.02,74.88,59.15,6.55
32,32,Jharkhand,66.41,76.84,55.42,12.85
33,33,Rajasthan,66.11,79.19,52.12,5.7
34,34,Arunachal Pradesh,65.38,72.55,57.70,11.04
35,35,Bihar,61.80,71.20,51.50,14.8

In [17]:
#Save the Pandas dataframe in a csv
literacy_rate = 'Literacy_Rate_India.csv'
df.to_csv(literacy_rate, index=False)

In [18]:
#close the driver
driver.quit()

### After scraping the data from the two sites, the two data were merged to create the dashboard, which shows the population and literacy rate analysis in India as of 2011 by state.

### Please check the Excel for the dashboard created.